<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133118103-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'UA-133118103-1');
  </script>
  
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head> 

<header style="background-color:rgba(183,130,130,0.7)" class="jumbotron">
  <div class="row">
    <h1 class="text-center">Have a Hike</h1>
    <h2 class="text-center">Arizona</h2>
    
  </div>
  <div class="row">
    <div class="topnav">
      <a class="active" href="/trail-stats" style='float: right; margin-right: 35px; color:white'>Explore Trails</a>
      <a class="active" href="/" style='float: right; margin-right: 35px; color:white'>Home</a>
      <a class="active" href="https://github.com/josephdope/az_trail_recommender" style='float: right; margin-right: 35px; color:white'>GitHub</a>
    </div>
  </div>
</header>
<body id="LoginForm" style="background-image:url('static/img/GC2.jpeg'); background-repeat: no-repeat; background-size:cover;">

<div class="container">
<h1 class="form-heading text-center" style="color:white; text-shadow: 2px 2px 0px black;">Adventure Awaits</h1>
<div class="login-form">
<div class="main-div">
    <form id="Login" action="/user_recommendation">
        <div class="form-group">
            <input type="text" class="form-control" style="width: 300px; margin: 0 auto" id="inputEmail" placeholder="username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" style="width: 300px; margin: 0 auto" id="inputPassword" placeholder="password">
        </div>
</div>
        <button type="submit" class="btn btn-primary" style="margin-left: 660px;">Login</button>
    </form>
    </div>
    <h3 class="text-center" style="color:white; text-shadow: 3px 3px 3px black;"><strong>IN ALPHA: You're not actually logging into anything, it's really just selecting a random user (just type anything in username and password)</strong></h3>
    
</div></div></div>


</body>
</body>
