<!DOCTYPE html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-133118103-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-133118103-1');
</script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<header style="background-color:rgba(183,130,130,0.5)" class="jumbotron">
  <div class="row">
    <h3 class="text-center">Recommended Trails</h3>
  </div>
  <div class="row">
    <div class="topnav">
      <a class="active" href="/" style='float: right; margin-right: 35px; color:white'>Log Out</a>
      <a class="active" href="/trail-stats" style='float: right; margin-right: 35px; color:white'>Explore Trails</a>
      <a class="active" href="/" style='float: right; margin-right: 35px; color:white'>Home</a>
      <a class="active" href="https://github.com/josephdope/az_trail_recommender" style='float: right; margin-right: 35px; color:white'>GitHub</a>
    </div>
  </div>
</header>
<body style="background-image:url('static/img/SR.jpg'); background-repeat: no-repeat;background-position: center top; background-size: 100% ;">
  <font size="+0.5">
  <table class="table table-bordered text-center">
    <thead class="thead-dark text-center">
        <th scope="col">Trail Name</th>
        <th scope="col">Miles</th>
        <th scope="col">Elevation</th>
        <th scope="col">Difficulty</th>
        <th scope="col">Expected Rating</th>
    </font>
    </thead>
    <tbody>
        {% for result in results %}
        <tr>
            <td style="color:#FFFAF0; text-shadow: 1px 1px 1px black">{{ result[0] }}</td>
            <td style="color:#FFFAF0; text-shadow: 1px 1px 1px black">{{ result[1] }}</td>
            <td style="color:#FFFAF0; text-shadow: 1px 1px 1px black">{{ result[2] }}</td>
            <td style="color:#FFFAF0; text-shadow: 1px 1px 1px black">{{ result[3] }}</td>
            <td style="color:#D15353; text-shadow: 1px 1px 1px black">{{ result[4] }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</body>
